@import url('./utils.css');
@import url('./palette.css');
@import url('./button.css');










.uui-control .FormCheckbox {
    @apply bg-transparent accent-primary dark:accent-primary-dark w-6 h-6;
}


span.ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 600ms linear;
    background-color: rgba(255, 255, 255, 0.7);
}

@keyframes ripple {
    to {
        transform: scale(4);
        opacity: 0;
    }
}













.uui-control .FormSelect {
    @apply w-full p-4 border border-border/25 dark:border-border-dark/25 outline-0 rounded bg-[ButtonFace] bg-transparent;
    @apply hover:border-border/75 dark:hover:border-border-dark/75;
    /*@apply rounded m-0 focus:outline-primary focus:outline-1 ;*/
    @apply focus:border-primary dark:focus:border-primary-dark;
    @apply active:border-primary dark:focus:border-primary-dark;
    appearance: none;
    outline: 0;
    background: green;
    background-image: none;
    width: 100%;
    height: 100%;
    color: black;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 3px;
}

.uui-control .FormSelect option {
    /*@apply text-black;*/
    /*@apply dark:bg-border/75;*/
}


.uui-control:focus-within .FormSelect {
    /*@apply outline-primary outline-2 border-2 border-primary*/
}

