@import url('fonts.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body:not([data-scroll='0']) header {
    @apply shadow-md dark:shadow-gray-900;
}

@import url('ui.css');
